<h1>Units</h1>
<% if @units.present? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Uom</th>
        <th>Name</th>
        <th>Description</th>
        <th>Area</th>
        <th>Price</th>
      </tr>
    </thead>
    <thead>
      <% @units.each do |unit| %>
        <tr>
          <td><%= unit.id %></td>
          <td><%= unit.uom %></td>
          <td><%= unit.name %></td>
          <td><%= unit.description %></td>
          <td><%= unit.area %></td>
          <td>$<%= unit.price %></td>
        </tr>
      <% end %>
    </thead>
  </table>
<% else %>
  <p>Please, follow this <%= link_to 'link', '/units/import' %> to import the missing units.</p>
<% end %>
